Options -Indexes -MultiViews +FollowSymlinks
AddDefaultCharset UTF-8
SetEnv TZ Europe/Berlin
Header set Connection keep-alive

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RewriteCond %{HTTPS} !=on
	RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . https://www.mister42.me/

	# http://www.htaccesstools.com/hotlink-protection/
	RewriteCond %{HTTP_REFERER} !^$
	RewriteCond %{HTTP_REFERER} !^http(s)?://(.+\.)?m(iste)?r42.me [NC]
	RewriteRule .*\.(jpe?g|png|gif)$ nohotlink.png [L]
</IfModule>

# Caching
FileETag All

<IfModule mod_headers.c>
	# http://www.fontsquirrel.com/blog/2010/11/troubleshooting-font-face-problems
	<FilesMatch "\.(eot|otf|woff2?|ttf)$">
		SetEnvIf Origin "^https?://(.+\.)?m(iste)?r42\.me$" ORIGIN=$0
		Header always set Access-Control-Allow-Origin %{ORIGIN}e env=ORIGIN
	</FilesMatch>

	<FilesMatch "\.(jpe?g|png|gif|eot|otf|woff2?|ttf)$">
		Header set Cache-Control "max-age=31557600, public, must-revalidate"
	</FilesMatch>

	<FilesMatch "\.(css|js)$">
		Header set Cache-Control "max-age=31557600, must-revalidate, proxy-revalidate"
	</FilesMatch>

	<FilesMatch "\.(ico)$">
		Header set Cache-Control "max-age=900, private, must-revalidate"
	</FilesMatch>

	# Make sure proxies don't deliver the wrong content
	Header append Vary User-Agent env=!dont-vary
</IfModule>

# Charsets
AddCharset UTF-8 .css
AddCharset UTF-8 .js

# Compression
SetOutputFilter DEFLATE

# Don't compress images
SetEnvIfNoCase Request_URI .(?:jpe?g|png|gif)$ no-gzip dont-vary

# Don't compress binaries
SetEnvIfNoCase Request_URI .(?:exe|t?gz2?|zip|sit|rar)$ no-gzip dont-vary

