@import "bootstrap.scss";

html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -41px;
	padding: 0 0 41px;

	> .container {
		padding: 70px 15px 20px;
	}
}

.intro {
	text-align: center;
	background-color: transparent;

	 .btn {
		font-size: 21px;
		padding: 14px 24px;
	}
}

.not-set {
	color: #c55;
	font-style: italic;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

form {
	.required label {
		white-space: nowrap;

		&:after {
			color: #e32;
			content: ' *';
			display: inline;
		}
	}

	img.captcha {
		cursor: pointer;
	}
}

.footer {
	height: 40px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 10px;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}
