@import "bootstrap.scss";

html,
body {
	height: 100%;
	text-align: justify;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -41px;
	padding: 0 0 41px;

	> .container {
		padding: 70px 15px 20px;
	}
}

li.flag a {
	> img {
		filter: grayscale(75%);
	}

	&:hover > img {
		filter: grayscale(0%);
	}
}

.intro {
	text-align: center;
	background-color: transparent;

	 .btn {
		font-size: 21px;
		padding: 14px 24px;
	}
}

form {
	.required label {
		white-space: nowrap;

		&:after {
			color: #e32;
			content: ' *';
			display: inline;
		}
	}

	img.captcha {
		cursor: pointer;
	}
}

.footer {
	height: 40px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 10px;
}
